/* weather-widget.component.css */

.weather-widget {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-card {
  width: 300px;
  height: 250px;
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  font-family: serif;
}

.weather-card:hover {
  transform: scale(1.05);
  background-color: #f3f3f3; /* Light grey on hover */
}

.card-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.icon {
  font-size: 48px;
}

.info {
  text-align: left;
}

.date {
  font-size: 18px;
  font-weight: bold;
  color: #000000; /* Dark grey */
}

.temperature {
  font-size: 16px;
  color: #000000; /* Grey */
}

.wind {
  font-size: 16px;
  margin-top: 5px;
  color: #000000; /* Grey */
}

.sunny {
  background-color: #ffd54f; /* Amber */
  color: #000000;
}

.rainy {
  background-color: #4fc3f7; /* Light blue */
  color: #050404;
}

.cloudy {
  background-color: #90a4ae; /* Blue-grey lighten-2 */
  color: #000000;
}
