/* weather-widget.component.css */

.weather-widget {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-card {
  width: 250px;
  height: 200px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.weather-card:hover {
  transform: scale(1.05);
  background-color: #e0e0e0; /* Change to your desired hover background color */
  color: #333; /* Change to your desired hover font color */
}

.card-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.icon {
  font-size: 48px;
}

.info {
  text-align: left;
}

.date {
  font-size: 16px;
  font-weight: bold;
}

.temperature {
  font-size: 14px;
}

.wind {
  font-size: 14px;
  margin-top: 5px;
}
