/* header.component.css */

.app-header {
    background-color: rgb(65, 152, 186);
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.737);
    text-decoration: none;
  }
  
  .nav-menu {
    display: flex;
  }
  
  .nav-link {
    margin-right: 15px;
    color: white;
    text-decoration: none;
  }

  
  .nav-link:hover {
    text-decoration: none;
    color: black;
  }
  